@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Poppins&display=swap');

body{
    margin: 0;
    font-family: 'Poppins',sans-serif;
}

h1{
    margin: 0;
    font-family: 'Bungee Spice',sans-serif;
}

p{
    margin: 0;
}

#img{
    height: 100vh;
    width: 1150px;
    position: relative;
    text-align: center;
    float: left;
}

.user-login{
  padding-top: 150px;
  text-align: center;
  color: rgb(32, 63, 219);
  size: 50px;
}

.welcome{
  text-align: center;
  color: rgb(115, 184, 241);
  size: 50px;
}

.sec-con
{
    text-align: center;
    padding-top: 50px;
}

label
{
    margin-right: 120px;
}

.username:focus,.password:focus
{
  border: none;
  border-bottom: 2px solid rgb(0, 0, 0);
}

.username,.password{
  border: none;
  outline: none;
  border-bottom: 2px solid red;
}

.button-56 {
  margin-top: 20px;
  left: 125px;
  align-items: center;
  background-color: #fee6e3 ;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}